*{
  margin: 0px;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 0px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }
  
  /* Set a style for all buttons */
  .login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  .homepage {
    padding: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }}

.signin{
  position: fixed;
  margin-top: -470px;
  margin-left: 1200px;
  margin-right: 0px;
  margin-bottom: 0px;

}

.user{
  position:static;
  margin-top: -520px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100vw;
  height: 110px;
  background-color: #04AA6D;
  }

 .signbtn{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white; 
  cursor: pointer;
  width: 100%;

 }
